<footer>
    <div class="container-fw border-top pt-3 pb-0 mt-5">
        <div class="container pt-2 pb-4 text-md">
            <span>
                Need help? <a class="text-primary decoration-none">Contact us</a> or call 0800-000-0000
            </span>
        </div>
        <div class="footer-bg">
            <div class="container pt-5 pb-5 text-md">
                <span>
                    The Student Way In uses industry-standard encryption technology to protect the confidentiality of submitted information. Learn more about our <a class="text-primary decoration-none">Security Policy.</a>
                </span>
                <hr/>
                <span>
                    Copyright © 2023 Student Way In. All Rights Reserved.
                </span>
            </div>
        </div>
    </div>
</footer>
