<div class="container">
  <div class="text-center mt-16">
    <h1 class="home-hd font-bold">Make your doubts</h1>
    <h1 class="home-hd font-bold">become answers</h1>
  </div>
  <div class="text-center">
    <img src="https://atacadogames.com/imagem/apple/apple-macbook-pro-mnep3ll-a-m2-memoria-ram-8gb-ssd-256gb-tela-13-3-silver-2022/2/140033.jpg?pfdrid_c=true" width="100%" style="height: 925px; overflow: hidden; object-fit: cover;">
  </div>
  <div class="p-5 footer-bg">
    <div class="row">
      <div class="col-lg-8">
        <h1>Welcome to Student Way In</h1>
        <p>The ultimate online platform designed specifically for students!</p>
        <p>We understand that being a student can be tough and overwhelming, with endless assignments, projects, and exams to tackle. That's why we've created a one-stop-shop that offers all the tools and resources you need to succeed in your academic journey.</p>
        <p>Our platform features a user-friendly interface and offers a range of features, including:</p>
        <p>Forums: Connect with students from all over the world, share your experiences and knowledge, and ask for help on any topic. Our forums provide a supportive and engaging community where you can collaborate and grow together.</p>
        <p>Study Groups: Struggling to keep up with coursework? Join a study group and work together with other students to achieve your goals. With a variety of subjects to choose from, you'll find the perfect group for you.</p>
        <p>And much more! Click here to 
          <a href="/users/sign_in" class="text-primary decoration-none">Sign in
          </a>.
        </p>
        
      </div>
      <div class="col-lg-4">
        <%= image_tag "Humaaans - Sitting.png", style: 'transform: scaleX(-1);' %>
      </div>
    </div>
  </div>
</div>