<div class="container">
  <div class="text-center mt-16">
    <h1 class="home-hd font-bold">Make your doubts</h1>
    <h1 class="home-hd font-bold">become answers</h1>
  </div>
  <div class="text-center">
    <img src="https://atacadogames.com/imagem/apple/apple-macbook-pro-mnep3ll-a-m2-memoria-ram-8gb-ssd-256gb-tela-13-3-silver-2022/2/140033.jpg?pfdrid_c=true" width="100%">
  </div>
</div>