* {
    font-family: 'Inter', sans-serif;
}

body {
    min-height    : 100vh;
    display       : flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.font-light {
    font-weight: 400 !important;
}

.font-medium {
    font-weight: 500 !important;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.text-xl {
    font-size: 18px !important;
}

.text-lg {
    font-size: 16px !important;
}

.text-md {
    font-size: 14px !important;
}

.text-sm {
    font-size: 12px !important;
}

.text-xs {
    font-size: 10px !important;
}

.decoration-none {
    text-decoration: none !important;
}

.decoration-none:hover {
    text-decoration: underline !important;
}

.text-justify {
    text-align: justify;
}

.home-hd {
    font-size  : 120px;
    line-height: 100px;
    color      : black;
}

.text-dark-300 {
    color: rgb(142, 142, 147) !important;
}

.text-dark-400 {
    color: rgb(99, 99, 102) !important;
}

.text-dark-500 {
    color: rgb(72, 72, 74) !important;
}

.text-dark-600 {
    color: rgb(58, 58, 60) !important;
}

.text-dark-700 {
    color: rgb(44, 44, 46) !important;
}

.text-dark-800 {
    color: rgb(28, 28, 30) !important;
}

.text-link {
    color: #06c!important;
}

.bg-dark-300 {
    background-color: rgb(142, 142, 147) !important;
}

.bg-dark-400 {
    background-color: rgb(99, 99, 102) !important;
}

.bg-dark-500 {
    background-color: rgb(72, 72, 74) !important;
}

.bg-dark-600 {
    background-color: rgb(58, 58, 60) !important;
}

.bg-dark-700 {
    background-color: rgb(44, 44, 46) !important;
}

.bg-dark-800 {
    background-color: rgb(28, 28, 30) !important;
}

.footer-bg {
    background-color: #F5F5F7;
}

.home-hd:last-child {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size        : cover;
    background-image       : url('https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&fit=max&ixid=eyJhcHBfaWQiOjF9');
}

.mt-16 {
    margin-top: 16vmin;
}

.mt-7 {
    margin-top: 7vmin;
}

.container-xs {
    max-width: 460px;
}

.form-table-standard {
    max-width: 460px;
    width    : 100%;
}

.pointer {
    cursor: pointer !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color           : var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color    : #fff0 !important;
}

.forum-box:first-child {
    padding-top: 0 !important;
}

.swiper {
    width : 100%;
    height: 100%;
}

.swiper-slide {
    text-align     : center;
    font-size      : 18px;
    background     : #fff;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.ellipsis-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-h:hover {
    transform: scale(1.02);
    transition: ease-in-out .3s;
}
.card-h {
    transition: ease-in-out .3s;
}

.lastchild-border-bottom:last-child {
    border: none!important;
}

.button-secondary {
    background: #e8e8ed;
    color: #000;
}

.button-secondary:hover {
    background: #ebebf0;
}

.form-icons-search15 {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2025%22%20fill%3D%22rgb%28134%2C134%2C139%29%22%20style%3D%22%22%3E%20%3Ctitle%3Emagnifyingglass_reduced%401x%3C%2Ftitle%3E%20%3Cg%20transform%3D%22translate%280%2C%20-2.75%29%22%3E%20%3Crect%20width%3D%2218%22%20height%3D%2225%22%20fill%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M17.512%2C20.113l-4.786-4.788a7.068%2C7.068%2C0%2C1%2C0-.777.778l4.785%2C4.788a.55.55%2C0%2C1%2C0%2C.777-.777ZM1.427%2C10.75A5.946%2C5.946%2C0%2C1%2C1%2C7.373%2C16.7%2C5.957%2C5.957%2C0%2C0%2C1%2C1.427%2C10.75Z%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E");
    background-size: 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.as-search-form-submit {
    position: absolute;
    z-index: 1;
    cursor: default;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: transparent;
    border: none;
    left: 1rem;
    top: 0.95rem;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

@media (max-width: 760px) {
    .swiper-button-next {
        right    : 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left     : 20px;
        transform: rotate(90deg);
    }
}