<p style="font-family: 'Inter', sans-serif;">Welcome <%= @email %>!</p>

<p style="font-family: 'Inter', sans-serif;">You can confirm your account email through the link below:</p>

<p style="font-family: 'Inter', sans-serif;"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
